<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- css -->
  <link rel="stylesheet" href="/css/userqna/userqnadetail.css">

  <!-- js -->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/question/userqnadetail.js"></script>
  <script defer src="/js/admin/admin.js"></script>



  <title>관리자 공지사항 상세페이지</title>
</head>

<body>

<div class="container" style="min-height: 100vh;">

  <div class="innertitle">공지사항 상세페이지</div>
  <section>
    <div class="inner">
      <form action='<c:url value="/admin/admin_aqlist"/>' method="post">
        <div class="userQnA">
          <table class ="QnA">

            <tr>
              <th scope="row">분류</th>
              <td th:text="${notice.classify}"></td>
            </tr>
            <tr>
              <th scope="row">제목</th>
              <td th:text="${notice.title}" id="title"></td>
            </tr>
            <tr>
              <th scope="row">작성일</th>
              <td scope="row" th:text="${notice.createDate}"></td>
            </tr>
            <tr>
              <th scope="row">작성자 </th>
              <td>관리자</td>
            </tr>
            <tr>
              <th>내용</th>
              <td th:text="${notice.content}" id="content"></td>
            </tr>



          </table>
        </div>
      </form>


      <button type="button" class="qnalist" onclick="noticeList()">목록으로</button>
      <button type="button" class="update" th:onclick="|javascript:noticeupdate('${notice.id}')|" >수정</button>
      <button type="button" class="delete" th:onclick="|javascript:noticedelete('${notice.id}')|" >삭제</button>

    </div>
  </section>
</div>

</body>

<!--목록으로 가기-->
<script type="text/javascript">
  function noticeList() {
    location.href = "/admin/anlist";
  }
</script>

<!--공지사항 수정  페이지로 가기-->
<script type="text/javascript">
  function noticeupdate(id) {
    var id = id;
    window.location.href = "/admin/noticeupdate/"+id
  }

    <!--삭제 후 목록으로 가기-->
  function noticedelete(id) {
    var id = id;
    window.location.href = "/admin/noticedelete/" +id
  }
</script>


</html>