<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- css -->
        <link rel="stylesheet" href="/css/admin/admin.css">
        <link rel="stylesheet" href="/css/admin/admin_user_detail.css">

        <!-- js -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/admin/admin_user_detail.js"></script>
        <script defer src="/js/admin/admin.js"></script>
        <title>admin</title>
    </head>

    <body>
        <div class="container">
            <div class="list">
                <button type="button" class="btn" th:onclick="|javascript:move_ticket()|">티켓관리</button>
                <button type="button" class="btn" th:onclick="|javascript:move_user()|">회원관리</button>
                <button type="button" class="btn" th:onclick="|javascript:move_notice()|">게시판관리</button>
            </div>
            <section>
                <div class="main">
                    <article>
                        <div class="user_info">
                            <div id="page" th:text="${page}" hidden></div>
                            <ul class="attr">
                                <li class="attr_sub">
                                    <div class="attr_key">이메일</div>
                                    <input class="attr_value" type="text" th:value="${user.email}" readonly id="email">
                                </li>
                                <li class="attr_sub">
                                    <div class="attr_key">이름</div>
                                    <input class="attr_value" type="text" th:value="${user.name}" id="name" style="border-bottom: 2px solid; background: navajowhite;">
                                </li>
                                <li class="attr_sub">
                                    <div class="attr_key">생년월일</div>
                                    <input class="attr_value" type="text" th:value="${user.age}" readonly>
                                </li>
                                <li class="attr_sub">
                                    <div class="attr_key">휴대폰</div>
                                    <input class="attr_value" type="text" th:value="${user.number}" readonly>
                                </li>
<!--                                <li class="attr_sub">-->
<!--                                    <div class="attr_key">응모 탈락 횟수</div>-->
<!--                                    <input class="attr_value" type="text" th:value="${user.loserCnt}" id="loserCnt">-->
<!--                                </li>-->
<!--                                <li class="attr_sub">-->
<!--                                    <div class="attr_key">응모 취소 횟수</div>-->
<!--                                    <input class="attr_value" type="text" th:value="${user.cancelCnt}" id="cancelCnt">-->
<!--                                </li>-->
                            </ul>
                        </div>
                        <!-- <div class="black_list">블랙리스트💣</div> -->
                    </article>

                    <h2>응모내역</h2>
                    <div class="apply_info">
                        <div class="apply_list">
                            <table>
                                <thead>
                                    <tr>
                                        <th>공연번호</th>
                                        <th>공연명</th>
                                        <th>대기번호</th>
                                        <th>응모상태</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="draw : ${draws}">
                                        <td th:text="${draw.concertId}"></td>
                                        <td th:text="${draw.concertTitle}"></td>
                                        <td th:text="${draw.state} == '대기순번' ? ${draw.ranking} : ''"></td>
                                        <td th:text="${draw.state}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="ret_btn" id="ret_btn">목록으로</button>
                        <button type="button" class="modify_btn" id="modify_btn">수정</button>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>