<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/admin_login.css">

    <!-- js -->
    <script defer src="/js/admin/admin_login.js"></script>

    <title>SignIn</title>
</head>

<body>

    <div class="container">
        <section>
            <div class="main">
                <p>관리자 페이지</p>
                <div class="logo">
                    <div class="loginInfo">
                        <input class ="userId" type="text" placeholder="아이디"> <br>
                        <input class ="userPw" type="password" placeholder="비밀번호"><br>
                    </div>
                </div>
                <div class="list">
                    <button type="button" class="btn" onclick="adminlogin()">로그인</button>
                </div>
            </div>
        </section>
    </div>

</body>

</html>