<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <!-- 부트스트랩 => 나중에 삭제-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="stylesheet" href="/css/concert/concert.css">

    <!-- js -->
    <script defer src="/js/concert/concert.js"></script>

    <title>Concert</title>
</head>

<body>
<div class="main">

    <!-- header 시작 -->
    <div th:replace="fragments/header :: headerFragment"></div>
    <!-- header 끝 -->

    <div class="container" style="min-height: 100vh;">
        <!-- <div class="concert-genre">
          콘서트
        </div> -->

        <section class="concert">

            <div class="concertSwiper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img
                                    src="http://image.toast.com/aaaaab/ticketlink/TKL_7/990X280_%EC%9D%B4-%EA%B5%AC%EC%97%AD%EC%9D%98-%EC%9D%B4%EA%B8%B0%EC%A0%81%EC%9D%B8-X.jpg"
                                    alt="">
                        </div>
                        <div class="swiper-slide">
                            <img
                                    src="http://image.toast.com/aaaaab/ticketlink/TKL_9/990x280_%ED%95%9C%EB%BC%98%EC%82%AC%EC%9D%B4.jpg"
                                    alt="">
                        </div>
                        <div class="swiper-slide">
                            <img
                                    src="http://image.toast.com/aaaaab/ticketlink/TKL_4/%EC%97%B0%EA%B7%B9_%EC%89%AC%EC%96%B4%EB%A7%A4%EB%93%9C%EB%8B%88%EC%8A%A4_01_%EB%A9%94%EC%9D%B8%EA%B3%B5%EC%97%B0%EC%A0%84%EC%8B%9C_990x280.jpg"
                                    alt="">
                        </div>
                        <div class="swiper-slide">
                            <img
                                    src="http://image.toast.com/aaaaab/ticketlink/TKL_7/%EA%B3%B5%EC%97%B0%EC%A0%84%EC%8B%9C_%EB%A9%94%EC%9D%B8_990x280_%EB%9D%BC%EB%A9%B4(1).jpg"
                                    alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="concert-posting">
                <div class="inner" th:each = "concert : ${concert}">
                    <div  class="fnConcertDescription" onclick="">
                        <div class="concert-img">
                            <figure class="image"><img
                                    src="/concert/readImg/"
                                    th:attrappend="src=${concert.phamplet}"
                                    alt=""></figure>
                        </div>
                        <div class="concert-content">
                            <h5 name="title" th:text="${concert.title}">title</h5>
                            <h5 name="period" th:text="${#temporals.format(concert.concertDate, 'yyyy-MM-dd')}" >period</h5>
                            <h5 name="location" th:text="${concert.address}">location</h5>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <nav style="text-align: center;">
            <ul class="pagination"
                th:with=" start=${T(java.lang.Math).floor(concert.number/16)*10 + 1}, last=(${start + 9 < concert.totalPages ? start + 9 : concert.totalPages})">
                <li>

                    <a th:href="@{/concert/Contents/{genre}(genre = ${genre} ,page=1)}" aria-label="First">
                        <span aria-hidden="true">First</span>
                    </a>


                </li>

                <li th:class="${concert.first} ? 'disabled'">
                    <a th:href="${concert.first} ? '#' :@{/concert/Contents/{genre}(genre = ${genre} ,page=${concert.number})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == concert.number + 1} ? 'active'">
                    <a th:text="${page}" th:href="@{/concert/Contents/{genre}(genre = ${genre} ,page=${page})}"></a>
                </li>

                <li th:class="${concert.last} ? 'disabled'">
                    <a th:href="${concert.last} ? '#' : @{/concert/Contents/{genre}(genre = ${genre} ,page=${concert.number + 2})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/concert/Contents/{genre}(genre = ${genre} ,page=${concert.totalPages})}" aria-label="Last">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <!-- footer 시작 -->
    <div th:replace="fragments/footer :: footerFragment"></div>
    <!-- footer 끝 -->
</div>
</body>

</html>