<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="stylesheet" href="/css/concert/concert.css">

    <!-- js -->
    <script defer src="/js/concert/concert.js"></script>

    <title>Concert</title>
</head>

<body th:onload = "header_concert([[${genre}]])">
<div class="main">

    <!-- header 시작 -->
    <div th:replace="fragments/header :: headerFragment"></div>
    <!-- header 끝 -->

    <div class="container" style="min-height: 100vh;">

        <section class="concert">

            <div class="concertSwiper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img
                                    src="/img/concert_swiper/"  th:attrappend ="src=${genre} + 1.jpg"
                                    alt="">
                        </div>
                        <div class="swiper-slide">
                            <img
                                    src="/img/concert_swiper/"  th:attrappend ="src=${genre} + 2.jpg"
                                    alt="">
                        </div>
                        <div class="swiper-slide">
                            <img
                                    src="/img/concert_swiper/"  th:attrappend ="src=${genre} + 3.jpg"
                                    alt="">
                        </div>
                        <div class="swiper-slide">
                            <img
                                    src="/img/concert_swiper/"  th:attrappend ="src=${genre} + 4.jpg"
                                    alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="concert-posting">
                <div class="inner" th:each = "concert : ${concert}">
                    <div  class="fnConcertDescription" th:onclick="|javascript:move_description('${concert.id}')|">
                        <div class="concert-img">
                            <figure class="image"><img
                                    src="/concert/readImg/"
                                    th:attrappend="src=${concert.phamplet}"
                                    alt=""></figure>
                        </div>
                        <div class="concert-content">
                            <h5 name="title" th:text="${concert.title}">title</h5>
                            <h5 name="period" th:text="${#temporals.format(concert.concertDate, 'yyyy-MM-dd')}" >period</h5>
                            <h5 name="location" th:text="${concert.address}">location</h5>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <nav style="text-align: center;">
            <ul class="pagination"
                th:with=" start=${T(java.lang.Math).floor(concert.number/16)*10 + 1}, last=(${start + 9 < concert.totalPages ? start + 9 : concert.totalPages})">
                <li>

                    <a th:href="@{/concert/Contents/{genre}(genre = ${genre} ,page=1)}" aria-label="First">
                        <span aria-hidden="true">First</span>
                    </a>


                </li>

                <li th:class="${concert.first} ? 'disabled'">
                    <a th:href="${concert.first} ? '#' :@{/concert/Contents/{genre}(genre = ${genre} ,page=${concert.number})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == concert.number + 1} ? 'active'">
                    <a th:text="${page}" th:href="@{/concert/Contents/{genre}(genre = ${genre} ,page=${page})}"></a>
                </li>

                <li th:class="${concert.last} ? 'disabled'">
                    <a th:href="${concert.last} ? '#' : @{/concert/Contents/{genre}(genre = ${genre} ,page=${concert.number + 2})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/concert/Contents/{genre}(genre = ${genre} ,page=${concert.totalPages})}" aria-label="Last">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <!-- footer 시작 -->
    <div th:replace="fragments/footer :: footerFragment"></div>
    <!-- footer 끝 -->
</div>
</body>
<!-- javascript -->
<script type="text/javascript">
    function header_concert(genre){
        if(genre == 'CONCERT'){
            $('.contents1').toggleClass('on');
         }else if(genre =='MUSICAL_DRAMA'){
            $('.contents2').toggleClass('on');
         }else if(genre =='CLASSIC'){
            $('.contents3').toggleClass('on');
         }else if(genre =='EXHIBITION'){
            $('.contents4').toggleClass('on');
         }
    }
</script>
</html>