<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="stylesheet" href="/css/mypage/myPage.css">
    <link rel="stylesheet" href="/css/mypage/myPage_draw.css">

    <!-- js -->
    <script defer src=""></script>
    <script src="https://kit.fontawesome.com/f1962dcf03.js" crossorigin="anonymous"></script>

    <title>MyPage</title>
</head>

<body>
<div class="main">
    <!-- header 시작 -->
    <div th:replace="fragments/header :: headerFragment"></div>
    <!-- header 끝 -->

    <div class="container" style="min-height: 100vh;">
        <div class="myPage">
            마이페이지
        </div>
        <section>
            <div class="inner">
                <div class="btn">
                    <button type="button" th:onclick="|window.location.href='/mypage'|">정보수정</button>
                    <button type="button" onclick="">응모내역</button>
                    <button type="button" th:onclick="|window.location.href='/mypage/reservation'|">예매내역</button>
                    <button type="button" th:onclick="|window.location.href='/interests'|">찜목록</button>
                </div>
                <div class="pageInfo">
                    <div class="mp-draw-top">
                        <span><i class="fa-solid fa-heart"></i>내 응모 내역</span>
                    </div>
                    <div class="mp-draw-main">
                        <div th:each="myDraw:${myDraws}">
                            <div class="mp-ticket-info">
                                <div class="mp-ticket-info-div">
                                    <img src="/concert/readImg/" th:attrappend="src=${myDraw.concertPhamplet}" alt="" style="width: 120px; height:150px">
                                    <div class="mp-ticket-info-div-span">
                                        <span th:text="${myDraw.concertTitle}">뮤지컬 시규어 로스</span>
                                        <span th:text="${myDraw.concertAddress}">세종문화회관 대극장</span>
                                    </div>
                                </div>
                                <div class="mp-draw-status">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <defs>
                                            <filter id="gooey">
                                                <!-- in="sourceGraphic" -->
                                                <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur"/>
                                                <feColorMatrix in="blur" type="matrix"
                                                               values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                                               result="highContrastGraphic"/>
                                                <feComposite in="SourceGraphic" in2="highContrastGraphic"
                                                             operator="atop"/>
                                            </filter>
                                        </defs>
                                    </svg>

                                    <button class="gooey-button" th:classappend="|${myDraw.state == '대기순번' ? 'waiting-order' : ''}
                                                                                  ${myDraw.state == '취소' ? 'draw-cancel' : ''}
                                                                                  ${myDraw.state == '당첨' ? 'winning' : ''}
                                                                                  ${myDraw.state == '응모 대기중' ? 'waiting-application' : ''}
                                                                                 |">
                                        <span th:text="${myDraw.state} == '대기순번' ? ${myDraw.state} +': '+${myDraw.ranking} : ${myDraw.state}">응모 대기중</span>
                                        <span class="bubbles" th:classappend="|${myDraw.state == '대기순번' ? 'waiting-order-span' : ''}
                                                                                  ${myDraw.state == '취소' ? 'draw-cancel-span' : ''}
                                                                                  ${myDraw.state == '당첨' ? 'winning-span' : ''}
                                                                                  ${myDraw.state == '응모 대기중' ? 'waiting-application-span' : ''}
                                                                                 |">
                                            <span class="bubble"></span>
                                            <span class="bubble"></span>
                                            <span class="bubble"></span>
                                            <span class="bubble"></span>
                                            <span class="bubble"></span>
                                            <span class="bubble"></span>
                                            <span class="bubble"></span>
                                            <span class="bubble"></span>
                                            <span class="bubble"></span>
                                            <span class="bubble"></span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <!-- footer 시작 -->
    <div th:replace="fragments/footer :: footerFragment"></div>
    <!-- footer 끝 -->
</div>
</body>

</html>