<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- swiper -->
        <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css"/>
        <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

        <!-- css -->
        <link rel="stylesheet" href="/css/main/main.css">
        <link rel="stylesheet" href="/css/mypage/myPage.css">
        <link rel="stylesheet" href="/css/mypage/myPage_userInfo.css">

        <!-- js -->
        <script src="/js/mypage/myPage_userInfo.js"></script>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>

        <title>MyPage</title>
    </head>

    <body>
        <div class="main">
            <!-- header 시작 -->
            <div th:replace="fragments/header :: headerFragment"></div>
            <!-- header 끝 -->

            <div class="container" style="min-height: 100vh;">
                <div class="myPage">
                    마이페이지
                </div>
                <section>
                    <div class="inner">
                        <div class="btn">
                            <button type="button" th:onclick="">정보수정</button>
                            <button type="button" th:onclick="|window.location.href='/mypage/draw'|">응모내역</button>
                            <button type="button" th:onclick="|window.location.href='/mypage/reservation'|">예매내역</button>
                            <button type="button" th:onclick="|window.location.href='/mypage/like'|">찜목록</button>
                        </div>
                        <div class="pageInfo">
                            <article style="display: block;">
                                <div class="user_info">
                                    <ul class="attr">
                                        <li class="attr_sub">
                                            <div class="attr_key">이메일</div>
                                            <input
                                                class="attr_value"
                                                type="text" id="email"
                                                th:value="${session.user.email}"
                                                disabled>
                                        </li>
                                        <li class="attr_sub">
                                            <div class="attr_key">비밀번호</div>
                                            <input class="attr_value" type="password" id="passwd">
                                        </li>
                                        <li class="attr_sub">
                                            <div class="attr_key">비밀번호 확인</div>
                                            <input class="attr_value" type="password">
                                        </li>
                                        <li class="attr_sub">
                                            <div class="attr_key">이름</div>
                                            <input class="attr_value" type="text" th:value="${session.user.name}" disabled>
                                        </li>
                                        <li class="attr_sub">
                                            <div class="attr_key">생년월일</div>
                                            <input class="attr_value" type="text" th:value="${session.user.age}">
                                        </li>
                                        <li class="attr_sub">
                                            <div class="attr_key">휴대폰</div>
                                            <input class="attr_value" type="text" th:value="${session.user.number}" disabled>
                                        </li>                                  
                                    </ul>
                                </div>
                            </article>

                            <button type="button" class="modify_btn" id="modify_btn">수정하기</button>
                            <button type="button" class="resign_btn" id="resign_btn">탈퇴하기</button>

                        </div>

                    </div>
                </section>
            </div>

            <!-- footer 시작 -->
            <div th:replace="fragments/footer :: footerFragment"></div>
            <!-- footer 끝 -->

        </div>
    </body>
</html>