<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--   css -->
  <link rel="stylesheet" href="/css/userqna/userqnaadd.css">

  


  <title>사용자 QnA 등록</title>
</head>

<body>
<div th:replace="fragments/header :: headerFragment"></div>

    <div class="container" style="min-height: 100vh;">


      <div class="innertitle">QnA등록</div>
      <section>
        <div class="inner">
          <form action="/question/userqnaadd" method="post">
            <div class="form-group">
              <label for="title">제목</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
            </div>

            <div class="writer-group">
              <label for="content" class="writer">작성자</label>
              <div class="userid" th:text="${userId}"></div>
            </div>

            <div class="classify-group">
              <label for="classify" class="choice">분류</label>
              <select name="classify" id="classify" class="classify" required="required">
                <option value="">=== 선택 ===</option>
                <option value="공연/티켓">공연/티켓</option>
                <option value="취소/환불">취소/환불</option>
                <option value="이벤트">이벤트</option>
                <option value="회원">회원</option>
                <option value="기타">기타</option>
              </select>
            </div>
  
            <div class="form-group cont">
              <label for="content">내용</label>
              <textarea class="form-control" id="content" name="quesContent" placeholder="내용을 입력하세요"></textarea>
            </div>

            <div class="btn">
              <button type="submit" class="update" id="btn-save">등록</button>
            </div>
          </form>


          </div>
      </section>
    </div>

    <div th:replace="fragments/footer :: footerFragment"></div>

</body>


</html>