<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- css -->
  <link rel="stylesheet" href="/css/userqna/userqnaadd.css">

  <!-- js -->
  <script src="/js/question/userqnaupdate.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/admin/admin_qnareply.js"></script>


  <title>사용자 QnA수정 </title>
</head>

<body>

<div th:replace="fragments/header :: headerFragment"></div>

    <div class="container" style="min-height: 100vh;">


      <div class="innertitle">QnA수정</div>
      <section>
        <div class="inner">
          <form>
            <div class="form-group">
              <div id="questionId" hidden th:text="${question.id}"></div>
              <label for="title">제목</label>
              <input type="text" class="form-control" id="title" th:value="${question.title}" >
            </div>

            <div class="writer-group">
              <label for="content" class="writer">작성자</label>
              <div class="userid" th:text="${question.userName}"></div>
            </div>

            <div class="classify-group">
              <label for="classify" class="choice">분류</label>
              <select name="classify" id="classify" class="classify" th:value="${question.classify}"required="required">
                <option value="">=== 선택 ===</option>
                <option value="공연/티켓">공연/티켓</option>
                <option value="취소/환불">취소/환불</option>
                <option value="이벤트">이벤트</option>
                <option value="회원">회원</option>
                <option value="기타">기타</option>
              </select>
            </div>
  
            <div class="form-group cont">
              <label for="content">내용</label>
              <textarea class="form-control" id="content" th:text="${question.quesContent}" placeholder="내용을 입력하세요"></textarea>
            </div>
          </form>


          <div class="btn">
            <button type="button" class="delete" th:onclick="|javascript:cancel('${question.id}')|">취소</button>
            <button type="button" class="update" id="userqnaupdate-btn" >등록</button>
          </div>


        </div>

      </section>
    </div>
<div th:replace="fragments/footer :: footerFragment"></div>

</body>
<!--수정 취소 후 목록으로 가기-->
<script type="text/javascript">
  function cancel(id) {
    var id = id;
    window.location.href = "/question/qlist"
  }
</script>



</html>