  /* common */
  a {
    text-decoration: none;
  }
  
.main{
    min-width: 1058px;
}
  
body,.main,.header-top-ul {
    margin: 0;
    padding: 0;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 80px;
}

.container .inner {
	width: 700px;
	min-height: 500px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container .inner .title {
	margin-top: 50px;
	font-size: 40px;
	font-weight: 100;
	color: #333;	
	font-family: sans-serif;
}
  
  /* header */
  .header {
      /* height: 200px; */
  }
  .header-top {
      height: 33px;
      background-color: rgb(215, 158, 228);
      opacity: 0.8;
  }
  
  .header-top-right{
      float: right;
      line-height: 1.7;
      margin-right: 55px;
  }
  
  .header-top-ul {
      display: flex;
      list-style: none;
  }
  
  .header-top-ul > li {
      margin: 0 8px 0;
      
  }
  
  .header-top-ul > li > span > a{
      text-decoration: none;
      color: white;
      font-weight: 500;
      transition: 2ms;
  }
  
  .header-top-ul > li > span > a:hover{
      color: rgb(89, 10, 107);
  }
  
  .header-center {
      margin: 15px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .header-center-left {
      margin-left: 100px;
  }
  
  .header-center-left-h1 {
      float: right;
      line-height: 2.2;
      font-size: 30px;
      margin: 0 10px 0;
  }
  
  .header-center-right {
      margin-right: 150px;
  }
  
  /* header search */
  .search {
      --background: #ffffff;
      --text-color: #414856;
      --primary-color: rgb(186, 109, 196, 0.9);
      --border-radius: 10px;
      --width: 190px;
      --height: 55px;
      background: var(--background);
      width: auto;
      height: var(--height);
      position: relative;
      overflow: hidden;
      border-radius: var(--border-radius);
      box-shadow: 2px 2px 2px 2px rgba(32, 31, 43, 0.15);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .search input[type="text"] {
      position: relative;
      width: var(--height);
      height: var(--height);
      font: 400 16px 'Varela Round', sans-serif;
      color: var(--text-color);
      border: 0;
      box-sizing: border-box;
      outline: none;
      padding: 0 0 0 40px;
      transition: width 0.6s ease;
      z-index: 10;
      opacity: 0;
      cursor: pointer;
    }
    .search input[type="text"]:focus {
      z-index: 0;
      opacity: 1;
      width: var(--width);
    }
    .search input[type="text"]:focus ~ .symbol::before {
      width: 0%;
    }
    .search input[type="text"]:focus ~ .symbol:after {
      clip-path: inset(0% 0% 0% 100%);
      transition: clip-path 0.04s linear 0.105s;
    }
    .search input[type="text"]:focus ~ .symbol .cloud {
      top: -30px;
      left: -30px;
      transform: translate(0, 0);
      transition: all 0.6s ease;
    }
    .search input[type="text"]:focus ~ .symbol .lens {
      top: 20px;
      left: 15px;
      transform: translate(0, 0);
      fill: var(--primary-color);
      transition: top 0.5s ease 0.1s, left 0.5s ease 0.1s, fill 0.3s ease;
    }
    .search .symbol {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .search .symbol:before {
      content: "";
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;
      background: var(--primary-color);
      z-index: -1;
      transition: width 0.6s ease;
    }
    .search .symbol:after {
      content: "";
      position: absolute;
      top: 21px;
      left: 21px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--primary-color);
      z-index: 1;
      clip-path: inset(0% 0% 0% 0%);
      transition: clip-path 0.04s linear 0.225s;
    }
    .search .symbol .cloud, .search .symbol .lens {
      position: absolute;
      fill: #fff;
      stroke: none;
      top: 50%;
      left: 50%;
    }
    .search .symbol .cloud {
      width: 35px;
      height: 32px;
      transform: translate(-50%, -60%);
      transition: all 0.6s ease;
    }
    .search .symbol .lens {
      fill: #fff;
      width: 16px;
      height: 16px;
      z-index: 2;
      top: 24px;
      left: 24px;
      transition: top 0.3s ease, left 0.3s ease, fill 0.2s ease 0.2s;
    }
  
  /* header search end */
  
  .header-bottom {
      border-top: 1px solid rgb(219, 219, 219);
      border-bottom: 1px solid rgb(200, 197, 197);
  }
  
  .header-bottom-ul {
      display: flex;
      list-style: none;
      justify-content: center;
      height: 50px;
      margin: 0;
  }
  
  .header-bottom-ul > li {
      margin: 0;
      align-items: center;
      padding: 10px;
  }
  
  .header-bottom-ul > li > span{
      line-height: 1.5;
  }
  
  .header-bottom-ul > li > span > a{
      text-decoration: none;
      font-weight: 500;
      color: black;
      padding: 15px 30px;
      transition: 0.3s;
  }
  
  .header-bottom-ul > li > span > a:hover {
      background-color: rgb(218, 169, 228);
      opacity: 0.9;
      color: white;
  }
  /* header end*/
  
  
  
  
  /* footer */
  .footer {
      background-color: rgba(221, 184, 229, 0.964);
      padding-bottom: 20px;
  }
  
  .footer-div {
      text-align: center;
      padding: 10px 0 20px;
  }
  
  .footer-div > button {
      width: 2.8125rem;
      height: 2.8125rem;
  }
  
  /* footer social-icons */
  .social-icons a
  {
    width:60px;
    height:60px;
    line-height:30px;
    margin-left:20px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  
  .social-icons
  {
    padding-left:0;
    
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    padding: 5px;
    background-color:#eceeef;
    color:#818a91;
    font-size:30px;
    display:inline-block;
    line-height:40px;
    width:40px;
    height:40px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#2a2a35
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }
  /* footer social-icons end*/
  
  .footer-copyright > img,span {
      display: block;
      text-align: center;
      color: white;
      padding: 3px;
      margin: 0 auto;
      /* background-color: rgba(0, 0, 0, 0.2); */
  }
  /* footer end*/

  /* login */
.container .inner .loginInfo {
	margin-top: 40px;
}

.container .inner .loginInfo input {
	width: 350px;
	padding: 13px;
	border: 1px solid #a7a7a7;
	color: #333;
	font-size: 16px;
	margin-top: 20px;	
}

.container .inner .loginInfo input::placeholder{
	font-size: 15px;
}

.container .inner .checkInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height : 30px;
    margin-top: 30px;
}

.container .inner .checkInfo .checkAuto{
    margin-left: 20px;
}

.container .inner .loginBt button,
.container .inner .kakaoLogin button,
.container .inner .naverLogin button{
	display: block;
	background: rgb(218, 169, 228);
	color: white;
	width: 380px;
	height: 45px;
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;
	transition: .4s;
	margin-top: 20px;
    border: 0;
}

.container .inner .loginBt button:hover,
.container .inner .kakaoLogin button:hover,
.container .inner .naverLogin button:hover {
	font-weight: 900;
	font-size: 17px;
}

.container .inner .toJoin {
    float : left;
	margin-top: 20px;
}

.container .inner .toJoin a{
    font-size: 16px;
	text-decoration: none;
	color: #656565;
}

.container .inner .tofindInfo,
.container .inner .to p {
    float : left;
	margin-top: 20px;
    margin-left: 20px;
}

.container .inner .tofindInfo a{
    font-size: 16px;
	text-decoration: none;
	color: #656565;
}