<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="/css/usernotice/user_FAQ.css">
    <link rel="stylesheet" href="/css/main/main.css">


    <!-- js -->
    <script defer src="/js/notice/user_FAQ.js"></script>
    <script defer src="/js/notice/usernoticelist.js"></script>

    <title>FAQ</title>
</head>

<body>
    <div th:replace="fragments/header :: headerFragment"></div>

    <div class="container">
        <div class="cs">고객센터</div>

        <div class="menuList">
            <button type="button" class="btn" th:onclick="|javascript:notice()|">공지사항</button>
            <button type="button" class="btn" th:onclick="|javascript:FAQ()|">이용안내/FAQ</button>
            <button type="button" class="btn" th:onclick="|javascript:QNA()|">QnA</button>
        </div>

        <section>
            <div class="inner">
                <div class="use">
                    <span class="title">📢 Meta 티켓의 예매 방법을 안내드립니다.</span>
                    <hr style="border:1px color= lightgray;" width="90%">
                    <div class="content">
                        <span>1. 회원가입, 로그인 핸드폰 인증</span>
                        <ul>
                            <li>● 응모 전 Meta 티켓 회원가입과 로그인을 하셨는지 확인해 주세요.</li>
                            <li style="margin-bottom: 20px;">● 응모를 위해서는 이메일인증 절차가 필요합니다.</li>
                        </ul>
                    </div>
                    <hr style="border:1px color= lightgray;" width="90%">
                    <div class="content">
                        <span>2. 관람하고자 하는 공연 선택</span>
                        <ul>
                            <li style="margin-bottom: 20px;">● Meta 티켓에서 제공하는 여러 메뉴를 통해 관람하고자 하는 공연을 선택하여 응모해 주세요.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="inner">
                <div class="asked">
                    <span class="title">❗ FAQ 자주 묻는 질문 Best10</span>
                    <table class="list_FAQ">
                        <tr>
                            <td>1</td>
                            <td>회원정보</td>
                            <td onclick="setAnswer1()">개명을 했어요. 회원정보에서 이름을 변경하려면 어떻게 해야 하나요?</td>
                        </tr>
                        <tr id = "answer1" class = "answer" style = "display: none; height: 80px; width: 1000px;">
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>회원정보</td>
                            <td onclick="setAnswer2()">아이디, 비밀번호를 잊어버렸어요. 어떻게 확인할 수 있나요?</td>
                        </tr>
                        <tr id = "answer2" class = "answer" style = "display: none; height: 80px; width: 1000px;">
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>회원정보</td>
                            <td onclick="setAnswer3()">Meta회원 탈퇴는 어떻게 하나요?</td>
                        </tr>
                        <tr id = "answer3" class = "answer" style = "display: none; height: 80px; width: 1000px;">
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>티켓응모</td>
                            <td onclick="setAnswer4()">공연 응모는 어디서 할 수 있나요?</td>
                        </tr>
                        <tr id = "answer4" class = "answer" style = "display: none; height: 80px; width: 1000px;">
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>티켓응모</td>
                            <td onclick="setAnswer5()">응모 내역은 어디서 확인 가능한가요?</td>
                        </tr>
                        <tr id = "answer5" class = "answer" style = "display: none; height: 80px; width: 1000px;">
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>티켓응모</td>
                            <td onclick="setAnswer6()">티켓 응모시 몇 장까지 응모 가능한가요?</td>
                        </tr>
                        <tr id = "answer6" class = "answer" style = "display: none; height: 80px; width: 1000px;">
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>티켓결제</td>
                            <td onclick="setAnswer7()">결제 가능한 수단이 어떤게 있나요?</td>
                        </tr>
                        <tr id = "answer7" class = "answer" style = "display: none; height: 80px; width: 1000px;">
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>티켓결제</td>
                            <td onclick="setAnswer8()">카카오페이가 무엇인가요?</td>
                        </tr>
                        <tr id = "answer8" class = "answer" style = "display: none; height: 80px; width: 1000px;">
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>기타</td>
                            <td onclick="setAnswer9()">당첨된 티켓 양도가 가능한가요?</td>
                        </tr>
                        <tr id = "answer9" class = "answer" style = "display: none; height: 80px; width: 1000px;">
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>기타</td>
                            <td onclick="setAnswer10()">공연 배너 등록은 어떻게 하나요?</td>
                        </tr>
                        <tr id = "answer10" class = "answer" style = "display: none; height: 80px; width: 1000px;">
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>

<div th:replace="fragments/footer :: footerFragment"></div>
</body>

</html>