<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- css -->
  <link rel="stylesheet" href="/css/usernotice/usernoticetail.css">

  <!-- js -->
  <script defer src="/js/notice/usernoticelist.js"></script>


  <title>사용자 공지사항 상세페이지</title>
</head>

<body>
<div th:replace="fragments/header :: headerFragment"></div>

  <div class="container" style="min-height: 100vh;">


    <div class="innertitle">공지사항 상세페이지</div>
      <section>
        <div class="inner">
          <form>
            <div class="userQnA">
              <table class="QnA">
                <tr>
                  <th scope="row">분류</th>
                  <td th:text="${notice.classify}"></td>
                </tr>
                <tr>
                  <th scope="row">제목</th>
                  <td th:text="${notice.title}"></td>
                </tr>
                <tr>
                  <th scope="row">작성일</th>
                  <td scope="row" th:text="${notice.createDate}"></td>
                </tr>
                <tr>
                  <th scope="row">작성자</th>
                  <td scope="row" th:text="${notice.id}"></td>
                </tr>
                <tr>
                  <th>내용</th>
                  <td th:text="${notice.content}"></td>
                </tr>

              </table>
            </div>
          </form>


          <div class="btn" >
            <button type="button" class="update" id="btn-save" onclick="noticeList()">목록</button>


          </div>

        </div>

   

      </section>
    </div>  
  </div>

<div th:replace="fragments/footer :: footerFragment"></div>

</body>
<!-- javascript -->
<script type="text/javascript">
  function noticeList() {
    location.href = "/notice/nlist";
  }
</script>

</html>