<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

  <!-- css -->
  <link rel="stylesheet" href="/css/main/main.css">
  <link rel="stylesheet" href="/css/usernotice/noticelist.css">

  <!-- js -->
  <script defer src="/js/notice/usernoticelist.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>

  <title>고객센터 공지사항</title>
</head>

<body>
<div class = "main">
<div th:replace="fragments/header :: headerFragment"></div>
    <div class="container" style="min-height: 100vh;">
      <div class="cs">
        고객센터
      </div>
      <div class="menuList">
        <button type="button" class="btn" th:onclick="|javascript:notice()|">공지사항</button>
        <button type="button" class="btn" th:onclick="|javascript:FAQ()|">이용안내/FAQ</button>
        <button type="button" class="btn" th:onclick="|javascript:QNA()|">QnA</button>
      </div>

      <div class="dropdown">
        <select name="dropdown" id="dropdown" class="dropdown-toggle" required="required">
          <option value="">전체</option>
          <option value="공연 소식">공연 소식</option>
          <option value="공연 오픈">공연 오픈</option>
          <option value="공연 종료">공연 종료</option>
          <option value="서비스 점검">서비스 점검</option>
          <option value="기타">기타</option>
        </select>
      </div>


      <section>
        <table class="table table-hover">

          <thead style="height: 40px">
            <tr>
              <th>No.</th>
              <th>분류</th>
              <th>제목</th>
              <th>등록일</th>
            </tr>
          </thead>

          <tbody>
          <tr th:each="notice : ${allNoticeList}"  th:onclick="|javascript:noticeClick('${notice.id}')|">

            <td scope="row" th:text="${notice.id}">1</td>
            <td th:text="${notice.classify}"></td>
            <td th:text="${notice.title}"></a></td>
            <td th:text="${notice.createDate}"></td>

          </tr>

          </tbody>


        </table>



        <nav style="text-align: center;">
          <ul class="pagination"
              th:with="start=${T(java.lang.Math).floor(allNoticeList.number/10)*10 + 1}, last=(${start + 9 < allNoticeList.totalPages ? start + 9 : allNoticeList.totalPages})">
            <li>
              <a th:href="@{/notice/nlist(page=1)}" aria-label="First">
                <span aria-hidden="true">First</span>
              </a>
            </li>

            <li th:class="${allNoticeList.first} ? 'disabled'">
              <a th:href="${allNoticeList.first} ? '#' :@{/notice/nlist(page=${allNoticeList.number})}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
              </a>
            </li>

            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == allNoticeList.number + 1} ? 'active'">
              <a th:text="${page}" th:href="@{/notice/nlist(page=${page})}"></a>
            </li>

            <li th:class="${allNoticeList.last} ? 'disabled'">
              <a th:href="${allNoticeList.last} ? '#' : @{/notice/nlist(page=${allNoticeList.number + 2})}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
              </a>
            </li>

            <li>
              <a th:href="@{/notice/nlist(page=${allNoticeList.totalPages})}" aria-label="Last">
                <span aria-hidden="true">Last</span>
              </a>
            </li>
          </ul>
        </nav>


  </section>
    </div>

<div th:replace="fragments/footer :: footerFragment"></div>
    </div>
</body>

<script type="text/javascript">
  function noticeClick(id) {
    var id = id;
    window.location.href = "/notice/noticedetail/"+id
  }
</script>

</html>