.card {
    width: 1000px;
    margin-bottom: 50px;
}

body {

}


button {
    border-style: none;
    background: transparent;
}

.stats {
    margin-left: 50px;
}

.stats>div {
    display: grid !important;
}

.stats>div>span:nth-child(1) {
    font-size: 30px;
}

.stats>div>span:nth-child(3) {
    font-size: 20px;
    color: #818a91;
}

.box_apply_button > div {
    display: inline-block;
    text-align: center;
}

.box_apply_button > div > form > button {
    margin-top: 50px;
    border-radius: 20px;
    background-color: #a154a1;
    color: white;
    width: 240px;
    height: 70px;
    font-size: 40px;
}