 /* common */
 a {
  text-decoration: none;
}

.main {
  min-width: 1058px;
}

.container {
  display: block;
  margin: 0 auto;
  color: #999;
  min-height: 500px;
  width: 1400px;
}

/* main */
.container .title{
  width: 1300px;
  margin: 70px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.container .inner {
  display: flex;
}

.container .inner .phamplet{
  justify-content: flex-start;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
}

.container .inner .phamplet img{
   width: 430px;
   height: 600px;
}

.container .inner .content{
  width: 100%;
  margin: 18px 50px;
  font-size: 18px;
  border-collapse: collapse;
  color: black;
  border-bottom: 1px solid lightgray;
}

.container .inner .content tr {
  width: 100%;
  /* border: 1px solid lightgray; */
}

.container .inner .content th {
  /* border-right: 1px solid lightgray; */
  padding: 20px;
  width: 120px;
  height: 30px;
  text-align: left;
  font-weight: bold;
  vertical-align: middle;
}

.container .inner .content td {
  width: 587px;
  height: 30px;
  padding: 20px;
  vertical-align: middle;
}

.container .inner .content .script{
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 20px;
  border-top: 1px solid lightgray;
}

.container .inner .content .script p{
  font-weight: bold;
  margin-bottom: 20px;
}

.container .like_btn {
  margin-left: 120px;
  margin-top: 20px;
}

.container .like_btn .btn-secondary {
  border: 0;
  background-color: white;
}

.container .like_btn .btn-secondary span {
  font-size: 35px;
}

.container .btn {
  float: right;
  margin-right: 50px;
}

.container .btn button{
  border-radius: 20px;
  border: 0;
  background-color: #d391d3;
  color: white;
  width: 140px;
  height: 40px;
  font-size: 28px;
}