<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>메인 페이지</title>
        <link rel="stylesheet" href="../../static/css/main/main.css">
        <link rel="stylesheet" href="../../static/css/main/slider.css">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <!-- CSS only -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="../../static/css/main/slick.css"/>
        <link
            rel="stylesheet"
            type="text/css"
            href="../../static/css/main/slick-theme.css"/>
        <link
            rel="stylesheet"
            type="text/css"
            href="/css/basic/ticket_open.css"/>
        <script src="https://kit.fontawesome.com/f1962dcf03.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <div class="main">
            <div class="header">
                <div class="header-top">
                    <div class="header-top-right">
                        <ul class="header-top-ul">
                            <li>
                                <span>
                                    <a href="./user/signin.html">로그인</a></span></li>
                            <li>
                                <span>
                                    <a href="./user/signup.html">회원가입</a></span></li>
                            <li>
                                <span>
                                    <a href="#">마이페이지</a></span></li>
                            <li>
                                <span>
                                    <a href="#">고객센터</a></span></li>
                            <li>
                                <span>
                                    <a href="#">LANGUAGE</a></span></li>
                        </ul>
                    </div>
                </div>
                <div class="header-center">
                    <div class="header-center-left">
                        <a href="#">
                            <img
                                src="../../static/img/metaticket_logo.png"
                                alt="Meta"
                                style="max-width: 100%; height:90px;">
                            <!-- <h1 class="header-center-left-h1">Meta 티켓</h1> -->
                        </a>
                    </div>
                    <div class="header-center-right">
                        <div class="search">
                            <input type="text" placeholder="search"/>
                            <div class="symbol">
                                <svg class="cloud">
                                    <use xlink:href="#cloud"/>
                                </svg>
                                <svg class="lens">
                                    <use xlink:href="#lens"/>
                                </svg>
                            </div>
                        </div>
                        <!-- SVG -->
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 35 35" id="cloud">
                                <path
                                    d="M31.714,25.543c3.335-2.17,4.27-6.612,2.084-9.922c-1.247-1.884-3.31-3.077-5.575-3.223h-0.021
                          C27.148,6.68,21.624,2.89,15.862,3.931c-3.308,0.597-6.134,2.715-7.618,5.708c-4.763,0.2-8.46,4.194-8.257,8.919
                          c0.202,4.726,4.227,8.392,8.991,8.192h4.873h13.934C27.784,26.751,30.252,26.54,31.714,25.543z"/>
                            </symbol>
                            <symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16" id="lens">
                                <path
                                    d="M15.656,13.692l-3.257-3.229c2.087-3.079,1.261-7.252-1.845-9.321c-3.106-2.068-7.315-1.25-9.402,1.83
                          s-1.261,7.252,1.845,9.32c1.123,0.748,2.446,1.146,3.799,1.142c1.273-0.016,2.515-0.39,3.583-1.076l3.257,3.229
                          c0.531,0.541,1.404,0.553,1.95,0.025c0.009-0.008,0.018-0.017,0.026-0.025C16.112,15.059,16.131,14.242,15.656,13.692z M2.845,6.631
                          c0.023-2.188,1.832-3.942,4.039-3.918c2.206,0.024,3.976,1.816,3.951,4.004c-0.023,2.171-1.805,3.918-3.995,3.918
                          C4.622,10.623,2.833,8.831,2.845,6.631L2.845,6.631z"/>
                            </symbol>
                        </svg>
                    </div>
                </div>
                <div class="header-bottom">
                    <ul class="header-bottom-ul">
                        <li>
                            <span>
                                <a href="#">홈</a></span></li>
                        <li>
                            <span>
                                <a href="./concert/concert.html">콘서트</a></span></li>
                        <li>
                            <span>
                                <a href="./concert/concert.html">뮤지컬/연극</a></span></li>
                        <li>
                            <span>
                                <a href="./concert/concert.html">클래식</a></span></li>
                        <li>
                            <span>
                                <a href="./concert/concert.html">전시/행사</a></span></li>
                        <li>
                            <span>
                                <a href="#">티켓오픈소식</a></span></li>
                        <li>
                            <span>
                                <a href="#">랭킹</a></span></li>
                    </ul>
                </div>
            </div>

            <div class="block">
                <div class="ticket-open-issue">티켓 오픈 소식</div>
                <div class="ticket-open">
                    <div class="ticket-open-top">
                        <span id="ticket-open-page" class="ticket-open-1">1</span>
                        <span class="ticket-open-2">
                            / 2</span>
                    </div>
                    <div class="multiple-items">
                        <div>
                            <img src="/img/metamong.png" alt="">
                            <span>나는 메타몽이다!</span>
                            <span style="color: rgb(15, 228, 15);">[오픈] 22.06.30(목) 14:00</span>
                        </div>
                        <div>
                            <img src="/img/ticket1.png" alt="">
                            <span>영국 현대 미술의 거장</span>
                            <span style="color: rgb(15, 228, 15);">[오픈] 22.06.30(목) 14:00</span>
                        </div>
                        <div>
                            <img src="/img/ticket2.png" alt="">
                            <span>뮤지컬 〈마타하리〉</span>
                            <span style="color: rgb(15, 228, 15);">[오픈] 22.06.30(목) 14:00</span>
                        </div>
                        <div>
                            <img src="/img/metamong.png" alt="">
                            <span>나는 메타몽이다!</span>
                            <span style="color: rgb(15, 228, 15);">[오픈] 22.06.30(목) 14:00</span>
                        </div>
                        <div>
                            <img src="/img/metamong.png" alt="">
                            <span>나는 메타몽이다!</span>
                            <span style="color: rgb(15, 228, 15);">[오픈] 22.06.30(목) 14:00</span>
                        </div>
                        <div>
                            <img src="/img/metamong.png" alt="">
                            <span>나는 메타몽이다!</span>
                            <span style="color: rgb(15, 228, 15);">[오픈] 22.06.30(목) 14:00</span>
                        </div>
                        <div>
                            <img src="/img/metamong.png" alt="">
                            <span>나는 메타몽이다!</span>
                            <span style="color: rgb(15, 228, 15);">[오픈] 22.06.30(목) 14:00</span>
                        </div>
                        <div>
                            <img src="/img/metamong.png" alt="">
                            <span>나는 메타몽이다!</span>
                            <span style="color: rgb(15, 228, 15);">[오픈] 22.06.30(목) 14:00</span>
                        </div>
                    </div>
                </div>

                <!-- 리스트형 티켓 오픈 소식 -->
                <form class="ticket-open-query" id="open_query">
                    <select name="ticket_genre" id="genre" required="required">
                        <option value="total" selected="selected">전체</option>
                        <option value="concert">콘서트</option>
                        <option value="musical">뮤지컬/연극</option>
                        <option value="classic">클래식</option>
                        <option value="display">전시/행사</option>
                    </select>
                    <input type="text"/>
                    <button type="button">검색</button>
                </form>

                <div class="ticket-open-list">
                    <ul class="open-list-ul">
                        <li>
                            <!-- display:span;-->
                            <div class="open-date">티켓오픈일<br/>[오픈] 22.06.30(목) 14:00</div>
                            <div class="open-info">뮤지컬 〈웃는 남자〉 1층 시야제한석 티켓 오픈 안내</div>
                            <div class="open-img"><img src="/img/ticket1.PNG" alt=""/></div>
                        </li>
                        <li>
                            <!-- display:span;-->
                            <div class="open-date">티켓오픈일<br/>[오픈] 22.06.30(목) 14:00</div>
                            <div class="open-info">뮤지컬 〈웃는 남자〉 1층 시야제한석 티켓 오픈 안내</div>
                            <div class="open-img"><img src="/img/ticket1.PNG" alt=""/></div>
                        </li>
                        <li>
                            <!-- display:span;-->
                            <div class="open-date">티켓오픈일<br/>[오픈] 22.06.30(목) 14:00</div>
                            <div class="open-info">뮤지컬 〈웃는 남자〉 1층 시야제한석 티켓 오픈 안내</div>
                            <div class="open-img"><img src="/img/ticket1.PNG" alt=""/></div>
                        </li>
                        <li>
                            <!-- display:span;-->
                            <div class="open-date">티켓오픈일<br/>[오픈] 22.06.30(목) 14:00</div>
                            <div class="open-info">뮤지컬 〈웃는 남자〉 1층 시야제한석 티켓 오픈 안내</div>
                            <div class="open-img"><img src="/img/ticket1.PNG" alt=""/></div>
                        </li>
                        <li>
                            <!-- display:span;-->
                            <div class="open-date">티켓오픈일<br/>[오픈] 22.06.30(목) 14:00</div>
                            <div class="open-info">뮤지컬 〈웃는 남자〉 1층 시야제한석 티켓 오픈 안내</div>
                            <div class="open-img"><img src="/img/ticket1.PNG" alt=""/></div>
                        </li>
                    </ul>
                </div>
                <!-- 페이징 -->
                <div class="paging">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- footer -->
            <div class="footer">
                <div class="back-to-top">
                    <a href="#" class="to-top">Back to top</a>
                </div>
                <div class="footer-div">
                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="https://instagram.com/042.h?r=nametag">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="twitter" href="https://instagram.com/042.h?r=nametag">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="dribbble" href="https://instagram.com/042.h?r=nametag">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a class="linkedin" href="https://github.com/leesh125">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Copyright -->
                <div class="footer-copyright">
                    <img
                        src="/img/metamong.png"
                        alt="Meta"
                        style="width: 50px; height:50px;">
                    <span>㈜ Meta-Mong 서울특별시 종로구 종로33길 15</span>
                    <span>사업자등록번호 : 123-54-4245 전화 : 02-134-5123 팩스 : 02-895-2940</span>
                    <span>© 2022 Copyright: Meta-Mong ALL RIGHTS RESERVED.</span>
                </div>
                <!-- Copyright -->
            </div>
        </div>

        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="../../static/js/slick.min.js"></script>
        <script src="../../static/js/slider.js"></script>
        <script src="../../static/js/ticketOpenPage.js"></script>
        <script src="../../static/js/backToTop.js"></script>
        <script>
            $(document).ready(function () {
                $('.multiple-items').slick(
                    {infinite: true, slidesToShow: 4, slidesToScroll: 4}
                );
            });
        </script>
    </body>
</html>