<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="/css/user/signin.css">
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <script src="https://kit.fontawesome.com/f1962dcf03.js" crossorigin="anonymous"></script>

    <!-- js-->
    <script src="/js/user/signin.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    <title>SignIn</title>
</head>

<body>


<div class="main">

    <!-- header 시작 -->
    <div th:replace="fragments/header :: headerFragment"></div>
    <!-- header 끝 -->

    <form id="login">
        <div class="container" style="min-height: 100vh;">
            <section>
                <div class="inner">
                    <div class="title">
                        <h2>SignIn</h2>
                    </div>

                    <div class="loginInfo">
                        <input class="userId" type="text" id="email" name="email" placeholder="Email" required> <br>
                        <div id="emailmsg"></div>
                        <input class="userPw" type="password" id="passwd" name="passwd" placeholder="Enter Password"
                               required><br>
                        <div id="passwdmsg"></div>
                    </div>

                    <!--                    <div class="checkInfo">-->
                    <!--                        <input class="checkSave" type="checkbox" name="emailCheck" value="false">아이디 저장-->
                    <!--                        <input class="checkAuto" type="checkbox" value="자동 로그인">자동 로그인-->
                    <!--                    </div>-->

                    <div class="loginBt">
                        <button type="button" id="signinbtn">로그인</button>
                    </div>

                    <div class="to">
                        <div class="toJoin">
                            <a href="/signup"> 회원가입 </a>
                        </div>

                        <p>|</p>

                        <div class="tofindInfo">
                            <a href="/findaccount"> EMAIL/PW 찾기 </a>
                        </div>
                    </div>

                    <div class="kakaoLogin">
                        <button id="kakao">카카오 로그인</button>
                    </div>

<!--                    <div class="naverLogin">-->
<!--                        <button id="naver">네이버 로그인</button>-->
<!--                    </div>-->

                    <!-- kakao config -->
                    <div id="rest-api" th:text="${session.kakaoApiKey}" hidden></div>
                    <div id="redirect-uri" th:text="${session.kakaoRedirectUri}" hidden></div>

                </div>
            </section>
        </div>
    </form>

    <!-- footer 시작 -->
    <div th:replace="fragments/footer :: footerFragment"></div>
    <!-- footer 끝 -->

</div>
</body>
</html>