<!DOCTYPE html>
<html lang="en">
<head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- css -->
    <link rel="stylesheet" href="/css/user/signin.css">

    <title>SignIn</title>
</head>
<!-- javascript-->
<script src="/js/user/signin.js"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<body>
<div class="main">
    <div class="header">
        <div class="header-top">
            <div class="header-top-right">
                <ul class="header-top-ul">
                    <li><span><a href="/signin">로그인</a></span></li>
                    <li><span><a href="/signup">회원가입</a></span></li>
                    <li><span><a href="#">마이페이지</a></span></li>
                    <li><span><a href="#">고객센터</a></span></li>
                    <li><span><a href="#">LANGUAGE</a></span></li>
                </ul>
            </div>
        </div>
        <div class="header-center">
            <div class="header-center-left">
                <a href="#">
                    <img src="../img/metamong.png" alt="Meta" style="width: 70px; height:70px;">
                    <h1 class="header-center-left-h1">Meta 티켓</h1>
                </a>
            </div>
            <div class="header-center-right">
                <div class="search">
                    <input type="text" placeholder="search"/>
                    <div class="symbol">
                        <svg class="cloud">
                            <use xlink:href="#cloud"/>
                        </svg>
                        <svg class="lens">
                            <use xlink:href="#lens"/>
                        </svg>
                    </div>
                </div>
                <!-- SVG -->
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" id="cloud">
                        <path d="M31.714,25.543c3.335-2.17,4.27-6.612,2.084-9.922c-1.247-1.884-3.31-3.077-5.575-3.223h-0.021
                      C27.148,6.68,21.624,2.89,15.862,3.931c-3.308,0.597-6.134,2.715-7.618,5.708c-4.763,0.2-8.46,4.194-8.257,8.919
                      c0.202,4.726,4.227,8.392,8.991,8.192h4.873h13.934C27.784,26.751,30.252,26.54,31.714,25.543z"/>
                    </symbol>
                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="lens">
                        <path d="M15.656,13.692l-3.257-3.229c2.087-3.079,1.261-7.252-1.845-9.321c-3.106-2.068-7.315-1.25-9.402,1.83
                      s-1.261,7.252,1.845,9.32c1.123,0.748,2.446,1.146,3.799,1.142c1.273-0.016,2.515-0.39,3.583-1.076l3.257,3.229
                      c0.531,0.541,1.404,0.553,1.95,0.025c0.009-0.008,0.018-0.017,0.026-0.025C16.112,15.059,16.131,14.242,15.656,13.692z M2.845,6.631
                      c0.023-2.188,1.832-3.942,4.039-3.918c2.206,0.024,3.976,1.816,3.951,4.004c-0.023,2.171-1.805,3.918-3.995,3.918
                      C4.622,10.623,2.833,8.831,2.845,6.631L2.845,6.631z"/>
                    </symbol>
                </svg>
            </div>
        </div>
        <div class="header-bottom">
            <ul class="header-bottom-ul">
                <li><span><a href="#">홈</a></span></li>
                <li><span><a href="#">콘서트</a></span></li>
                <li><span><a href="#">뮤지컬/연극</a></span></li>
                <li><span><a href="#">클래식</a></span></li>
                <li><span><a href="#">전시/행사</a></span></li>
                <li><span><a href="#">티켓오픈소식</a></span></li>
                <li><span><a href="#">랭킹</a></span></li>
            </ul>
        </div>
    </div>

    <form id="login">
        <div class="container" style="min-height: 100vh;">
            <section>
                <div class="inner">

                    <div class="title">
                        <h2>SignIn</h2>
                    </div>

                    <div class="loginInfo">
                        <input class="userId" type="text" id="email" name="email" placeholder="Email" required> <br>
                        <div id="emailmsg"></div>
                        <input class="userPw" type="password" id="passwd" name="passwd" placeholder="Enter Password"
                               required><br>
                        <div id="passwdmsg"></div>
                    </div>

                    <div class="checkInfo">
                        <input class="checkSave" type="checkbox" value="아이디 저장"> 아이디 저장
                        <input class="checkAuto" type="checkbox" value="자동 로그인"> 자동 로그인
                    </div>

                    <div class="loginBt">
                        <button type="button" id="signinbtn">로그인</button>
                    </div>

                    <div class="to">
                        <div class="toJoin">
                            <a href="/signup"> 회원가입 </a>
                        </div>

                        <p>|</p>

                        <div class="tofindInfo">
                            <a href="/findaccount"> EMAIL/PW 찾기 </a>
                        </div>
                    </div>

                    <div class="kakaoLogin">
                        <button id="kakao">카카오 로그인</button>
                    </div>

                    <div class="naverLogin">
                        <button id="naver">네이버 로그인</button>
                    </div>

                    <!-- kakao config -->
                    <div id="rest-api" th:text="${session.kakaoApiKey}" hidden></div>
                    <div id="redirect-uri" th:text="${session.kakaoRedirectUri}" hidden></div>

                </div>
            </section>
        </div>
    </form>

    <!-- footer -->
    <div class="footer">
        <div class="footer-div">
            <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright">
            <img src="../img/metamong.png" alt="Meta" style="width: 50px; height:50px;">
            <span>㈜ Meta-Mong 서울특별시 종로구 종로33길 15</span>
            <span>사업자등록번호 : 123-54-4245 전화 : 02-134-5123 팩스 : 02-895-2940</span>
            <span>© 2022 Copyright: Meta-Mong ALL RIGHTS RESERVED.</span>
        </div>
        <!-- Copyright -->
    </div>
</div>
</body>
</html>