<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <title>메인 페이지</title>
        <link rel="stylesheet" href="/css/main/main.css">
        <link rel="stylesheet" href="/css/main/slider.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/css/main/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main/slick-theme.css"/>
        <link rel="stylesheet" type="text/css" href="/css/ticketopen/ticket_open.css"/>
        <script src="https://kit.fontawesome.com/f1962dcf03.js" crossorigin="anonymous"></script>


    </head>
    <body>
        <div class="main">
            <!-- header 시작 -->
            <div th:replace="fragments/header :: headerFragment"></div>
            <!-- header 끝 -->

            <div class="block">
                <div class="ticket-open-issue">티켓 오픈 소식</div>
                <div class="ticket-open">
                    <div class="ticket-open-top">
                        <span id="ticket-open-page" class="ticket-open-1">1</span>
                        <span class="ticket-open-2">
                            / 2</span>
                    </div>
                    <div class="multiple-items">
                        <div th:each="openticket : ${opentickets}">
                            <img src="/concert/readImg/" th:attrappend="src=${openticket.phamplet}" alt="">
                            <span th:text="${openticket.title}"></span>
                            <span th:text="'[open] '+${openticket.drawStartDate}" style="color: rgb(15, 228, 15);"></span>
                        </div>
                    </div>
                </div>

                <!-- 리스트형 티켓 오픈 소식 -->
                <form class="ticket-open-query" id="open_query">
                    <select name="ticket_genre" id="genre" required="required">
                        <option value="TOTAL" selected="selected">전체</option>
                        <option value="CONCERT">콘서트</option>
                        <option value="MUSICAL_DRAMA">뮤지컬/연극</option>
                        <option value="CLASSIC">클래식</option>
                        <option value="EXHIBITION">전시/행사</option>
                    </select>
                    <input type="text" id="title"/>
                    <button type="button" id="search_btn">검색</button>
                </form>

                <div class="ticket-open-list">
                    <ul class="open-list-ul">
                        <li th:each="openticket : ${openticketList}">
                            <!-- display:span;-->
                            <div class="open-date"><p th:text="티켓오픈일" style="margin: 0px"></p><p th:text="'[오픈] '+${openticket.drawStartDate}" style="margin: 0px"></p></div>
                            <div class="open-info" th:text="${openticket.title}"></div>
                            <div class="open-img"><img src="/concert/readImg/" th:attrappend="src=${openticket.phamplet}" alt=""></div>
                        </li>
                    </ul>
                </div>

            </div>

            <!-- footer 시작 -->
            <div th:replace="fragments/footer :: footerFragment"></div>
            <!-- footer 끝 -->

        </div>
    </body>
    <!-- JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/main/slick.min.js"></script>
    <script src="js/main/slider.js"></script>
    <script src="/js/main/ticketOpenPage.js"></script>
    <script src="/js/main/ticketOpenSlider.js"></script>
    <script src="/js/main/backToTop.js"></script>
    <script src="/js/ticketopen/ticket_open.js"></script>
    <script>
        $(document).ready(function () {
            $('.multiple-items').slick(
                {infinite: true, slidesToShow: 4, slidesToScroll: 4}
            );
        });
    </script>
</html>