<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="footer" th:fragment="footerFragment">
    <div class="back-to-top">
        <a href="#" class="to-top">Back to top</a>
    </div>
    <div class="footer-div">
        <ul class="social-icons">
            <li><a class="facebook" href="https://instagram.com/042.h?r=nametag"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://instagram.com/042.h?r=nametag"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="https://instagram.com/042.h?r=nametag"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="https://github.com/leesh125"><i class="fa fa-github"></i></a></li>
        </ul>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright">
        <img src="/img/metamong.png" alt="Meta" style="width: 50px; height:50px;">
        <span>㈜ Meta-Mong 서울특별시 종로구 종로33길 15</span>
        <span>사업자등록번호 : 123-54-4245 전화 : 02-134-5123 팩스 : 02-895-2940</span>
        <span>© 2022 Copyright: Meta-Mong ALL RIGHTS RESERVED.</span>
    </div>
    <!-- Copyright -->
</div>
</html>