@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'CookieRun-Regular' !important;
}
 .main{
   margin-top: 4.8rem;
 }

 /* button */
 .container .list {
   display: block;
   justify-content: left;
   margin-top: 60px;
   margin-left: 140px;
   margin-bottom: -48px;
 }

 .container .list .btn {
   font-size: 23px;
   /* background-color: rgba(221, 184, 229, 0.964); */
   margin-left: -6px;
   background-color: black;
   color: whitesmoke;
   border: 0;
   height: 60px;
 }

 .container .list .btn:first-child {
   background-color: rgb(211, 133, 228);
 }

 .container .list .btn:hover {
   background-color: rgb(215, 158, 228);
   color: whitesmoke;
 }

 /* main */
 .container .main .btn {
   display: block;
   justify-content: left;
   text-align: center;
   height: 40px;
   font-size: 23px;
   background-color: lightgray;
   color: whitesmoke;
   margin: 30px;
   border: 0;
 }

 .container .main .btn:hover {
   background-color: gray;
   color: whitesmoke;
 }

 .container .main .search {
   float: right;
   margin-top: -70px;
   margin-right: 30px;
   height: 40px;
   width: 230px;
   border: 1px solid lightgray;
   background-color: #fff;
 }

 .container .main .search input {
   font-size: 15px;
   width: 160px;
   padding: 8px;
   border: 0px;
   outline: none;
   float: left;
 }

 .container .main .search button {
   width: 50px;
   height: 100%;
   border: 0px;
   background-color: gray;
   outline: none;
   float: right;
   color: #fff;
 }

 /* ticket_list */
 .container .main .ticket_list {
   width: 100%;
   border: solid 1px lightgray;
   border-collapse: collapse;
   table-layout:fixed;
 }

 .container .main .ticket_list th {
   padding: 10px;
   text-align : center;
 }

 .container .main .ticket_list td {
   padding: 10px;
   border-top: solid 1px lightgray;
   overflow : hidden;
   white-space:nowrap;
   text-overflow : ellipsis;
 }