 /* common */
 body {
  background-color: rgb(221, 184, 229, 0.964);
}

.container {
  max-width: 1320px;
  min-width: 1200px;
  margin: auto;
}

.main {
  background-color: whitesmoke;
  min-height: 685px;
  width: 80%;
  text-align: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
}