/* button */
.container .list {
  display: block;
  justify-content: left;
  margin-top: 60px;
  margin-left: 125px;
  margin-bottom: -48px;
}

.container .list .btn {
  font-size: 23px;
  /* background-color: rgba(221, 184, 229, 0.964); */
  margin-left: -6px;
  background-color: black;
  color: whitesmoke;
  border: 0;
  height: 60px;
}

.container .list .btn:last-child {
  background-color: rgb(211, 133, 228);
}

.container .list .btn:hover {
  background-color: rgb(215, 158, 228);
  color: whitesmoke;
}

/* main */
.container .main .detailnotice .detail{
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    margin : 20px 10px;
  }
  table.detail th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border: 1px solid #ccc;
  }
  table.detail th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border: 1px solid #ccc;
  }
  table.detail td {
    width: 850px;
    padding: 10px;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  .container .main .cont{
    font-size: 24px;
    font-weight: bold;
  }

  .container .main .cont .form-control{
    height: 400px;
    resize: none;
  }
  .container .main .cancle{
    background-color: rgb(207, 61, 119);
  }
  .container .main .addbtn{
    background-color: rgb(215, 158, 228);
  }