@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'CookieRun-Regular' !important;
}
/* button */
.container .list {
  display: block;
  justify-content: left;
  margin-top: 60px;
  margin-left: 140px;
  margin-bottom: -48px;
}

.container .list .btn {
  font-size: 23px;
  /* background-color: rgba(221, 184, 229, 0.964); */
  margin-left: -6px;
  background-color: black;
  color: whitesmoke;
  border: 0;
  height: 60px;
}

.container .list .btn:last-child {
  background-color: rgb(211, 133, 228);
}

.container .list .btn:hover {
  background-color: rgb(215, 158, 228);
  color: whitesmoke;
}

/*main*/
.container .main .form-group{
  margin: 30px;
  display: flex;
}

.container .main .form-group label{
  /* float: left; */
  width: 50px;
  margin-right: 30px;
  margin-top: 7px;
}

.container .main .form-group input{
  width: 830px;
}

.container .main .classify-group {
  display: flex;
  margin-top: 30px;
  height: 35px;
}

.container .main .classify-group .writer-group{
  /* float: left; */
  margin-top: -15px;
  margin-left: 30px;
}

.container .main .classify-group .writer-group .writer{
  margin-top: 17px;
  margin-left: -3px;
}

.container .main .classify-group .writer-group .admin{
  width: 200px;
  height: 40px;
  border: 1px solid lightgrey;
  margin-top: 23px;
  margin-left: 28px;
}

.container .main .classify-group .classify{
  background-color: white;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 60px;
  height: 38px;
  width: 180px;
}

.container .main .cont{
  margin-top: 50px;
  display: flex;
}
.container .main .form-group textarea{
  width: 830px;
  height: 600px;
  resize: none;
}

.container .main .delete{
   height: 45px;
   width: 100px;
   margin-top: 20px;
   background-color: rgb(186,133,236);
   border: none;
   font-weight: 700;
   cursor: pointer;
}
.container .main .update{
   height: 45px;
   width: 100px;
   margin-top: 20px;
   background-color: rgb(186,133,236);
   border: none;
   font-weight: 700;
   cursor: pointer;
}
.container .main  .return{
   height: 45px;
   width: 100px;
   background-color: rgb(186,133,236);
   border: none;
   font-weight: 700;
   cursor: pointer;
}

.container .main .delete:hover,
.container .main .update:hover,
.container .main  .return:hover {
    background-color: blueviolet;
  }