@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'CookieRun-Regular' !important;
}

.swiper-container {
    overflow: hidden;
    margin: 40px 0;
    position: relative;
  }
  
  .swiper-slide > img {
    width: 200px;
    height: 300px;
  }
  
  :root {
    --swiper-navigation-size: white !important;
    --swiper-theme-color: none !important;
  }
  
  .swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 20% !important;
    right: auto;
    top: 20% !important;
  }
  
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 20% !important;
    left: auto;
    top: 20% !important;
  }
  
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: none !important;
  }
  
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: none !important;
  }