@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'CookieRun-Regular' !important;
}

.card {
    width: 444px;
    border-radius: 30px !important;
}

body {
    background: rgb(255, 213, 255) !important;
}

button {
    border-style: none;
    background: transparent;
}

.stats>div>span:nth-child(2) {
    width: 120px;
    text-align: left;
}